@model AspNetCoreMVCYemekProjesi.Data.Models.Food
@{
    ViewData["Title"] = "FoodGet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("FoodUpdate", "Food", FormMethod.Post))
{
    <div class="container">
        <div class="row">
            <div class="col col-md-8">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <td>@Html.TextBoxFor(m => m.FoodID, new { @class = "form-control" })</td>
                        </tr>
                        <tr>
                            <th>Food Name</th>
                            <td>@Html.TextBoxFor(m => m.FoodName, new { @class = "form-control" })</td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td>@Html.TextBoxFor(m => m.FoodDescription, new { @class = "form-control" })</td>
                        </tr>
                        <tr>
                            <th>Price</th>
                            <td>@Html.TextBoxFor(m => m.FoodPrice, new { @class = "form-control" })</td>
                        </tr>
                        <tr>
                            <th>ImageURL</th>
                            <td>@Html.TextBoxFor(m => m.FoodImageURL, new { @class = "form-control" })</td>
                        </tr>
                        <tr>
                            <th>Stock</th>
                            <td>@Html.TextBoxFor(m => m.FoodStock, new { @class = "form-control" })</td>
                        </tr>
                        <tr>
                            <th>Category</th>
                            <td>@Html.DropDownListFor(m => m.CategoryID, (List<SelectListItem>)ViewBag.list, new { @class = "form-control" })</td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-6">
                <button class="btn btn-warning" id="btn1">Update</button>
                <script>
                    $('#btn1').click(function () {
                        alert("Güncelleme işlemi başarıyla yapıldı.");
                    });
                </script>
            </div>
        </div>
    </div>
}